<div>
  <!--<h2 class="title text-center redtext">{{passwordTitle}}</h2>-->
  <!--<hr>-->
  <!--<p id="subtitle">{{passwordSubtitle}}</p>-->
  <div class="row vertical-align">
    <div class="pwInput col-lg-6 col-md-6 col-sm-6 col-xs-10">
      <form name="pwForm">
        <div class="form-group pwFormGrp">
          <div>
            <!--<input type="password" class="form-control" id="txtNewPassword" ng-model="newpass" ng-change="onKeyUp();ngChange();" ng-blur="checkPasswordPolicy();" maxlength="50" placeholder="New password">
            <p id="invalidCharacters">Invalid characters entered.</p>
            <input type="password" class="form-control" id="txtConfirmPassword" ng-model="confirmpass" ng-change="onKeyUp();ngChange();" ng-blur="checkMatching()" maxlength="50" placeholder="Confirm password">
            <p id="pwNotMatch">Passwords do not match.</p>-->

            <md-input-container class="md-block mdInput">
              <label class="materialLbl lblNewPassword">New password</label>
              <input class="materialTxt" required type="password" name="newPass" ng-model="newpass" ng-change="onChange();ngChange();" ng-blur="checkPasswordPolicy(pwForm);" 
              id="txtNewPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>

              <div ng-messages="pwForm.newPass.$error" ng-show="pwForm.newPass.$touched" role="alert">
                <div ng-message-exp="['maxlength', 'passwordpolicy']">
                  Invalid characters entered.
                </div>
                <div ng-message="required"></div>
              </div>
            </md-input-container>
            <md-input-container class="md-block mdInput">
              <label class="materialLbl lblConfirmPassword">Confirm password</label>
              <input class="materialTxt" required type="password" name="confirmPass" ng-model="confirmpass" ng-change="onChange();ngChange();" ng-blur="checkMatching(pwForm)"
              id="txtConfirmPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordmatch/>

              <div ng-messages="pwForm.confirmPass.$error" ng-show="pwForm.confirmPass.$touched && pwForm.confirmPass.$dirty" role="alert">
                <div ng-message="passwordmatch">
                  Passwords do not match.
                </div>
              </div>
            </md-input-container>

              <!--<p id="pwNotMatch">Passwords do not match.</p>-->

          </div>
        </div>
      </form>
    </div>
    <div class="pwOK col-lg-1 col-md-1 col-sm-1 col-xs-2">
      <span class="glyphicon glyphicon-ok unmatched" id="tickNewPassword"></span>
      <span class="glyphicon glyphicon-ok unmatched" id="tickConfirmPassword"></span>
    </div>
    <div class="pwValidation col-lg-5 col-md-5 col-sm-5 col-xs-12" style="padding-left: 30px;">
      <div class="row">
        <span>You should:</span>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-ok unmatched" id="tickMin"></span>
        <span class="criteria" id="criteriaMin">Use a minimum of 8 characters</span>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-ok unmatched" id="tickCap"></span>
        <span class="criteria" id="criteriaCap">Use lowercase & capital letters</span>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-ok unmatched" id="tickNum"></span>
        <span class="criteria" id="criteriaNum">Use at least 1 number</span>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-ok unmatched" id="tickSym"></span>
        <span class="criteria" id="criteriaSym">Use symbols (optional)</span>
      </div>
    </div>
  </div>

</div>