<div class="container theme-showcase" id="SQPage" role="main" ng-controller="SQController">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="greybg">

  </div>

  <div class="container-fluid" >

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1" style="color:black">

      </div>

      <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 contentbox">

        <div class="loadingAnimation"></div>
        <div class="content">
          <h2 class="text-center redtext">For your security</h2>
          <hr>
          <div id="SQabstract">To confirm your identity for <b>{{userEmail}}</b> please answer the following security questions</div>
          <form>
          <div>
            <div class="form-group" ng-repeat="q in originalQuestions">
              <div ng-switch on="q.questionType">
                <div for="txtPartial{{$index+1}}">
                  <span class="questionNum" ng-switch-when="LASTNAME" >{{$index+1}}. &nbsp;&nbsp;&nbsp; </span>
                  <span class="questionNum" ng-switch-when="MID|POSTCODE" ng-switch-when-separator="|">{{$index+1}}.  </span>
                  {{q.questionText}}
                </div>
                <i class="fa fa-refresh fa-spin"></i>
                <input type="text" class="form-control" id="txtPartial{{$index+1}}" ng-switch-when="LASTNAME" style="width:70px;" placeholder="{{q.answer}}" disabled="disabled">
                <input type="text" class="form-control" id="txtPartial{{$index+1}}" ng-switch-when="MID|POSTCODE" ng-switch-when-separator="|" placeholder="{{q.answer}}" disabled="disabled">

                <input type="text" class="form-control MID" id="txtAnswer{{$index+1}}" ng-switch-when="MID" ng-keyup="onKeyUp($index+1)" maxlength="4" ng-keypress='validateInput("MID", $event)' onpaste="return false" required />
                <input type="text" class="form-control POSTCODE" id="txtAnswer{{$index+1}}" ng-switch-when="POSTCODE" ng-keyup="onKeyUp($index+1)" ng-keypress='validateInput("POSTCODE", $event)' maxlength="4" required />
                <input type="text" class="form-control LASTNAME" id="txtAnswer{{$index+1}}" ng-switch-when="LASTNAME" ng-keyup="onKeyUp($index+1)" ng-keypress='validateInput("LASTNAME", $event)' maxlength="30" style="width:200px;" required />
                <a id="iconhint{{$index+1}}" ng-click="expandHint('hint'+($index+1))" ><i class="glyphicon glyphicon-question-sign"></i></a>

                <p id="pIncorrect{{$index+1}}" ng-switch-when="MID" >{{midConfig.errorText}}</p>
                <p id="pIncorrect{{$index+1}}" ng-switch-when="POSTCODE" >{{postcodeConfig.errorText}}</p>
                <p id="pIncorrect{{$index+1}}" ng-switch-when="LASTNAME" >{{contactConfig.errorText}}</p>

                <p id="hint{{$index+1}}" ng-switch-when="MID">{{midConfig.helpText}}</p>
                <p id="hint{{$index+1}}" ng-switch-when="POSTCODE">{{postcodeConfig.helpText}}</p>
                <p id="hint{{$index+1}}" ng-switch-when="LASTNAME">{{contactConfig.helpText}}</p>
              </div>
            </div>
          </div>
            <button type="submit" id="btnSubmitSQ" class="btn btn-success" ng-click="submitForm()" disabled>Submit</button>
          </form>
          <div id="needHelp">
            <a role="button" ng-click="expand('needHelpContent')" id="needHelpAnchor">Need help? </a>

            <p id="needHelpContent">
              If you don't know your Outlet ID (MID) or postcode, please contact out Customer Services team on <b>0345 761 62 63</b> for further assistance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">

    </div>
  </div>

  <session-idle></session-idle>

<br/><br/><br/>


</div> <!--main container-->


