<div class="dropdown">
    <button class="btn btn-default dropdown-toggle form-control has-feedback" type="button" id="cmbTitle" ng-click="expand()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{selected}}
    <i class="glyphicon glyphicon-chevron-down form-control-feedback"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="cmbTitle">
        <li ng-repeat="item in options">
          <a class='titleItem' ng-click="select(item);ngChange()" href="">{{item}}</a>
            <div ng-show="$index+1 < options.length" role="separator" class="divider"></div>
        </li>
    </ul>
</div>