
<!-- Modal -->
<div class="modal fade" id="idleModal" tabindex="-1" role="dialog" aria-labelledby="idleModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="modal-title text-center redtext" id="idleModalLabel">Session idle</h3>
        <hr class="idleline">
        <div>
          <p>Your session has been idle for 15 minutes.</p> <p>For your security, you will automatically be logged out in one minute. Would you like to remain logged in?</p>

        </div>
        
        <div class="yesnobtn">
          <button type="button" class="btn btn-success btnNo" ng-click="no()">No</button>
          <button type="button" class="btn btn-success btnYes" data-dismiss="modal" ng-click="yes()">Yes</button>
        </div>

      </div>
    </div>
  </div>
</div>