<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });
</script>
<div class="container theme-showcase" role="main" ng-controller="maController" style="padding:0px;">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="greybg"></div>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2" style="color:black"> </div>

      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 contentbox">

        <div class="loadingAnimation"></div>
        <div class="content">
            <h2 class="title text-center redtext">Manage account</h2>

            <!--<button class="btn btn-success btnCancel" type="button" ng-click="transition()">do stuff</button>-->
            <div class="list-group">
              <hr class="listDivider">
              <div type="button" id="toggleDetails"  ng-model="toggle.name" expanded class="list-group-item">
                <div class="col-xs-3 col-sm-3 titleDetails sectionpadding">Name</div>
                <div class="col-xs-6 col-sm-7 textDetails sectionpadding">
                  <div class="col-xs-6 padding-0" data-toggle="tooltip" data-placement="top" data-original-title="Mr. W Heisenburg" >Mr. W Heisenberg
                  
                </div>
                 <!--  <div class="col-xs-6 savedAnimation" ng-show='request.saving'></div>
                  <div class="col-xs-6 padding-0 savedsuccess" ng-show='request.savedsuccess'>... saved successfully!</div> -->

                </div>
                <div class="col-xs-3 col-sm-2 text-right sectionpadding"><a href ="" class='edit' slide-toggle="#frmDetails">Edit</a></div>
              </div>
                <form name="ssoForm.Details">
                  <div class="form-group slideable" expanded="false" id="frmDetails">

                    <p class="subtitle">This information will be used to address you in any future communications.</p>
                    
                    <div class="row">
                      <div class="col-xs-12 col-sm-12">

                        <md-input-container class="mdInputCmb">
                          <label class="materialCmbLbl">Title</label>
                          <md-select class="materialCmb" id="cmbTitle" ng-model="title" ng-change="onChange('Title')" ng-blur="checkTitleSelected()" name="type" required hideRequiredMarker>
                            <md-option value="mr">Mr</md-option>
                            <md-option value="mrs">Mrs</md-option>
                            <md-option value="miss">Miss</md-option>
                            <md-option value="ms">Ms</md-option>
                            <md-option value="dr">Dr</md-option>
                            <md-option value="prof">Prof</md-option>
                          </md-select>
                        </md-input-container>

                        <md-input-container class="mdInput">
                          <label class="materialLbl">First name</label>
                          <input class="materialTxt form-control" id="txtFirstname" name="firstName" ng-model="firstname" ng-change="onChange('Firstname')" ng-keypress="validateInput()" required minlength="2" maxlength="50" md-no-asterisk>
                            <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickFirstname"></i>
                          <div class="ngmsgboxFN" ng-messages="ssoForm.Details.firstName.$error" ng-show="ssoForm.Details.firstName.$touched">
                            <div class="ngmsgtext" ng-message-exp="['required', 'minlength']">Invalid characters entered.</div>
                          </div>
                        </md-input-container>

                        <div class="texterrorspacing"></div>

                        <md-input-container class="mdInput">
                          <label class="materialLbl">Last name</label>
                          <input class="materialTxt form-control" id="txtLastname" name="lastName" ng-model="lastname" ng-change="onChange('Lastname')" ng-keypress="validateInput()" required minlength="2" maxlength="50"  md-no-asterisk>
                            <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickLastname"></i>
                          <div class="ngmsgboxLN" ng-messages="ssoForm.Details.lastName.$error" ng-show="ssoForm.Details.lastName.$touched">
                            <div class="ngmsgtext" ng-message-exp="['required', 'minlength']">Invalid characters entered.</div>
                          </div>
                        </md-input-container>

                        <div class="texterrorspacing"></div>

                      </div>
                      <!-- <div class="col-xs-1">
                          <span class="glyphicon glyphicon-ok incomplete" id="tickTitle"></span>
                          <span class="glyphicon glyphicon-ok incomplete" id="tickFirstname"></span>
                          <span class="glyphicon glyphicon-ok incomplete" id="tickLastname"></span>
                      </div> -->
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button id="btnSaveDetails" class="btn btn-success btnSave" type="submit" ng-click="saveDetails()">Save</button>
                        <a href="" class="btnCancel" type="button" slide-toggle="#frmDetails" >Cancel</a>
                      </div>
                    </div>
                  </div>
                </form> 

              <hr class="listDivider">
              <div type="button" id="toggleEmail" class="list-group-item">
                <div class="col-xs-3 col-sm-3 titleEmail sectionpadding">Email</div>
                <div class="col-xs-6 col-sm-7 textEmail sectionpadding" data-toggle="tooltip" data-placement="top" title=" itwasntmereallyrealyreallylongemail@gmail.com">itwasntmereallyreallyreallylongemail@gmail.com</div>
                <div class="col-xs-3 col-sm-2 text-right sectionpadding"><a class='edit' slide-toggle="#frmEmail">Edit</a></div>
              </div>
                <form name="ssoForm.Email">
                  <div class="form-group slideable" expanded="false" id="frmEmail">
                    
                    <p class="subtitle">To update your email address, enter your current password and new email address below.</p>

                    <div class="row">
                      <div class="col-xs-12 col-sm-12">

                          <md-input-container class="md-block mdInput">
                            <label class="materialLbl lblCurrentPassword">Current password</label>
                            <input class="materialTxt form-control" required type="password" name="currentPass" ng-model="currentpass" ng-change="onChange();ngChange();" ng-blur="checkPasswordPolicy(pwForm);" 
                            id="txtCurrentPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>
                              <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickEmailPass"></i>
                            <div class="ngmsgbox" ng-messages="ssoForm.Email.currentPass.$error" ng-show="pwForm.currentPass.$touched" role="alert">
                              <div class="ngmsgtext" ng-message-exp="['maxlength', 'passwordpolicy']">
                                Invalid characters entered.
                              </div>
                              <div ng-message="required"></div>
                            </div>
                          </md-input-container>

                          <md-input-container class="md-block mdInput">
                            <label class="materialLbl lblNewEmail">New email</label>
                            <input class="materialTxt form-control" ng-required="!emailDisabled" type="email" name="newEmail" ng-model="newemail" ng-change="onChange('NewEmail')" ng-blur="validOnBlur('NewEmail')" ng-focus="hideOnFocus('NewEmail')" 
                            id="txtNewEmail" oncopy="return false" onpaste="return false" maxlength="100" emailregex ng-pattern="/^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@([a-zA-Z0-9])[a-zA-Z0-9-_']{1,}((\.)([a-zA-Z0-9])([a-zA-Z0-9-_']{1,}))+/" md-no-asterisk/>
                              <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickNewEmail"></i>
                            <div class="ngmsgbox" ng-messages="ssoForm.Email.newEmail.$error" ng-show="ssoForm.newEmail.$dirty && ssoForm.newEmail.$touched" role="alert">
                              <div class="ngmsgtext" ng-message-exp="['maxlength', 'pattern']">
                                Invalid email address.
                              </div>
                              <div ng-message="required">
                                Please enter a valid email address.
                              </div>
                            </div>
                          </md-input-container>

                          <div class="texterrorspacing"></div>

                            <md-input-container class="md-block mdInput">
                            <label class="materialLbl lblConfirmEmail">Confirm email</label>
                            <input class="materialTxt" ng-required="!emailDisabled" type="email" name="confirmEmail" ng-model="confirmemail" ng-change="onChange('ConfirmEmail')" ng-blur="validOnBlur('ConfirmEmail')" ng-focus="hideOnFocus('ConfirmEmail')" 
                            id="txtConfirmEmail" oncopy="return false" onpaste="return false" maxlength="100" md-no-asterisk emailmatch />
                              <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickConfirmEmail"></i>
                            <div class="ngmsgbox" ng-messages="ssoForm.Email.confirmEmail.$error" ng-show="ssoForm.confirmEmail.$dirty" role="alert">
                              <div class="ngmsgtext" ng-message-exp="['maxlength', 'emailmatch']">
                                Email addresses do not match.
                              </div>
                              <div ng-message="required">
                                <!--This is required.-->
                              </div>
                            </div>
                          </md-input-container>

                          <div class="texterrorspacing"></div>

                      </div>
                      
                    </div>
                    <p id="errorEmail">This email address cannot be used, please enter a new email address.</p>
                    <div class="row">
                        <div class="col-xs-12">
                            <button id="btnSaveEmail" class="btn btn-success btnSave" type="submit" ng-click="toggle.name = !toggle.name;toggled('Details');saveEmail()">Save</button>
                            <a href="" class="btnCancel" slide-toggle="#frmEmail">Cancel</a>
                        </div>
                      </div>
                  </div>
                </form>
              <hr class="listDivider">
              <div type="button" id="togglePassword"  class="list-group-item">
                <div class="col-xs-3 col-sm-3 titlePassword sectionpadding">Password</div>
                <div class="col-xs-6 col-sm-7 sectionpadding">********</div>
                <div class="col-xs-3 col-sm-2 text-right sectionpadding"><a class='edit' slide-toggle="#frmPassword">Edit</a></div>
              </div>
                <form name="ssoForm.Password">
                  <div class="form-group slideable" expanded="false" id="frmPassword">
                    
                    <p class="subtitle">Choose a new password below. Please ensure your password is unique to this website.</p>
                    <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <md-input-container class="md-block mdInput">
                        <label class="materialLbl lblCurrentPassword">Current password</label>
                        <input class="materialTxt form-control" required type="password" name="currentPass" ng-model="currentpass" ng-change="onChange();ngChange();" ng-blur="checkPasswordPolicy(pwForm);" 
                        id="txtCurrentPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>
                          <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickPasswordPass"></i>
                        <div class="ngmsgbox" ng-messages="ssoForm.Password.currentPass.$error" ng-show="pwForm.currentPass.$touched" role="alert">
                          <div class="ngmsgtext" ng-message-exp="['maxlength', 'passwordpolicy']">
                            Invalid characters entered.
                          </div>
                          <div ng-message="required"></div>
                        </div>
                      </md-input-container>
                    </div>
                    </div>

                    <reset-password password-title="'Create new password'"
                                password-subtitle="'For security reasons, you must set a new password to use when logging in.'"
                                ng-model="pass" ng-change="onChange('Password')">
                    </reset-password>
                    
                    <!-- <form name="pwForm">
                        <div class="form-group pwFormGrp">
                          <div>
                            <input type="password" class="form-control" id="txtNewPassword" ng-model="newpass" ng-change="onKeyUp();ngChange();" ng-blur="checkPasswordPolicy();" maxlength="50" placeholder="New password">
                            <p id="invalidCharacters">Invalid characters entered.</p>
                            <input type="password" class="form-control" id="txtConfirmPassword" ng-model="confirmpass" ng-change="onKeyUp();ngChange();" ng-blur="checkMatching()" maxlength="50" placeholder="Confirm password">
                            <p id="pwNotMatch">Passwords do not match.</p>
                
                            <md-input-container class="md-block mdInput">
                              <label class="materialLbl lblNewPassword">New password</label>
                              <input class="materialTxt" required type="password" name="newPass" ng-model="newpass" ng-change="onChange();" ng-blur="checkPasswordPolicy(pwForm);" 
                              id="txtNewPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>
                
                              <div class="ngmsgbox" ng-messages="pwForm.newPass.$error" ng-show="pwForm.newPass.$touched" role="alert">
                                <div class="ngmsgtext" ng-message-exp="['required', 'maxlength', 'passwordpolicy']">
                                  Invalid characters entered.
                                </div>
                                <div ng-message="required"></div>
                              </div>
                            </md-input-container>
                            <md-input-container class="md-block mdInput">
                              <label class="materialLbl lblConfirmPassword">Confirm password</label>
                              <input class="materialTxt" required type="password" name="confirmPass" ng-model="confirmpass" ng-change="onChange();ngChange();" ng-blur="checkMatching(pwForm)"
                              id="txtConfirmPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordmatch/>
                
                              <div class="ngmsgbox" ng-messages="pwForm.confirmPass.$error" ng-show="pwForm.confirmPass.$touched && pwForm.confirmPass.$dirty" role="alert">
                                <div class="ngmsgtext" ng-message="passwordmatch">
                                  Passwords do not match.
                                </div>
                              </div>
                            </md-input-container>
                
                              <p id="pwNotMatch">Passwords do not match.</p>
                
                          </div>
                        </div>
                      </form> -->

                    <p id="errorPassword">New password must not match current password.</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 pull-right outerpwValidation">
                            <div class="pwValidation pull-right" style="">
                                <div class="row">
                                  <span class="glyphicon glyphicon-ok unmatched" id="tickMin"></span>
                                  <span class="criteria" id="criteriaMin">Use a minimum of 8 characters</span>
                                </div>
                                <div class="row">
                                  <span class="glyphicon glyphicon-ok unmatched" id="tickCap"></span>
                                  <span class="criteria" id="criteriaCap">Use lowercase & capital letters</span>
                                </div>
                                <div class="row">
                                  <span class="glyphicon glyphicon-ok unmatched" id="tickNum"></span>
                                  <span class="criteria" id="criteriaNum">Use at least 1 number</span>
                                </div>
                                <div class="row">
                                  <span class="glyphicon glyphicon-ok unmatched" id="tickSym"></span>
                                  <span class="criteria" id="criteriaSym">Use symbols (optional)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <button id="btnSavePassword" class="btn btn-success btnSave" type="submit" ng-click="savePassword()">Save</button>
                            <a href="" class="btnCancel" type="button" slide-toggle="#frmPassword">Cancel</a>
<!-- 
                            <button type="button" onclick="toggletoast('success')">Show Toast</button> -->
                            
                        </div>
                        
                    </div>
                  </div>
                </form>
            </div>

        </div>

      <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
  </div>

    <session-idle></session-idle>
    <toast-message status="" message=""></toast-message>

      
    <toast></toast>

    <br/><br/><br/>

</div> <!--main container-->

