.title{
    font-size:24pt;
}

#btnContinue{
    width:120px;
    height:34px;
    margin-top:15px;
    margin-left:15px;
    border-radius:4px;
}

#subtitle{
    margin-bottom:20px;
}

.unmatched{
    color:#e3e3e3;
}
.criteria{
    color:#919191;
}
.matched{
    color:green;
}

p[id^="error"], p[id^="lblErr"]{
    display:none;
    color:red;
    font-size:14px;
}