#frmDetails, #frmEmail,
#frmPassword{
    /*display:none;*/
    padding-left: 15px;
}

#toggleDetails, #toggleEmail,
#togglePassword{
    padding-left:0;
    padding-right:0;
}
#toggleDetails:focus, #toggleEmail:focus,
#togglePassword:focus{
    background-color:white;
}

.contentbox{
    min-height: 400px;
}

.savedsuccess{
    text-align: right;
    font-size:12px;
    top:5px;
    color: green;
    transition:all 0.5s ease-in-out;
}
.savedsuccess.ng-hide{
    opacity: 0;
}
.fadeout {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#titletext{
    margin-bottom:30px;
}

#btnUSUContinue{
    width:25%;
}

#btnSSOK{
    margin-top:10px;
    width:85px;
}

#subtitle{
    margin-bottom:20px;
}

.input-disabled{
    background-color:#DEDEDE !important;
    color: #919191 !important;
    padding:2px 1px;
}
.incomplete{
    display:none;
    color:white;
}
.matched{
    color:green;
}
.incorrect{
    color:red;
}

.titleItem{
    text-decoration:none;
}

#cmbTitle, #txtFirstname, #txtLastname,
#txtNewEmail, #txtConfirmEmail,
#txtSetUpNewPassword, #txtSetUpConfirmPassword{
    border-radius:4px;
    width:100%;
    color:#393939;
}

#cmbTitle{
    text-align: left;
}

#lblTerms{
    font-weight:400;
}

#tickTitle, #tickFirstname, #tickLastname,
#tickNewEmail, #tickConfirmEmail{
    display:block;
    font-size:16pt;
    margin-top:56px;
    margin-left:-20px;
}

#tickTitle, #tickNewEmail{
    margin-top:15px;
}

p[id^="error"], p[id^="lblErr"]{
    display:none;
    color:red;
    font-size:14px;
}

@media (max-width:787px){
    #btnUSUContinue{width:120px;}
}

body {
    margin: 0;
    height: auto;
}

.redirectMessage{
    color:#919191;
    font-size:12px;
    text-align:center;
}

md-input-container.mdInputCmb{
    width:100%;
}

/* FOR TEXTBOX */

.materialTxt{
    border-width: 1px !important;
    border-radius: 4px !important;
    padding: 15px 10px 1px !important;
    height:50px !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

md-input-container.mdInput{
    width:100%;
    margin-top:0px;
    margin-bottom:0px;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore).materialLbl{
    transform: translate3d(0, 15px, 0) scale(1);
    font-weight: 500 !important;
    bottom:63%;
    left: 5%;
}

md-input-container.md-input-focused label:not(.md-no-float).materialLbl{
    transform: translate3d(1px, 5px, 0) scale(0.75);
    left:10px;
}

md-input-container.md-input-has-value label:not(.md-no-float).materialLbl {
    transform: translate3d(1px, 5px, 0) scale(0.75);
    left:10px;
}

md-input-container .md-input.materialTxt{
    border-color: #ccc;
}

md-input-container.md-input-invalid .md-input.materialTxt{
    border-color: rgb(221,44,0);
}

md-input-container.md-input-invalid {
    border-color: rgb(221,44,0);
}

md-input-container.md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-has-value label{
    color:#919191;
}

/* FOR COMBOBOX */

md-input-container>md-select.materialCmb{
    border-width: 1px;
    border-radius: 4px;
    border-style:solid;
    border-color:#ccc;
    padding: 1px 10px 1px;
    height:50px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

md-input-container .md-placeholder{
    display: none;
}

md-input-container>md-select .md-select-value{
    border-bottom-style: none !important;
    top:14%;
    left:-3px;
}

md-input-container>md-select .md-select-icon{
    position: relative;
    top:-14%;
    left:3px;
}

md-input-container>md-select .md-select-placeholder{
    border-bottom-style: none !important;
    top:0;
    left:0;
}

md-input-container>md-select .md-select-placeholder .md-select-icon{
    position: relative;
    top:0;
    left:0;
}

md-input-container.mdInputCmb{
    width:100%;
    margin-top: 0;
    margin-bottom: 24px;
}

md-input-container.md-input-focused:not([md-no-float]) .md-select-placeholder span:first-child{
    transform: translateY(-10px) translateX(-2px) scale(.75)
}

md-input-container label:not(.md-no-float):not(.md-container-ignore).materialCmbLbl{
    transform: translate3d(0, 15px, 0) scale(1);
    font-weight: 500 !important;
    bottom:63%;
    left: 5%;
}

md-input-container.md-input-focused label:not(.md-no-float).materialCmbLbl{
    transform: translate3d(0px, 12px, 0) scale(0.75);
    left:10px;
}

md-input-container.md-input-has-value label:not(.md-no-float).materialCmbLbl {
    transform: translate3d(0px, 13px, 0) scale(0.75);
    left:10px;
}

md-input-container .md-input.materialCmb{
    border-color: #ccc;
}

md-input-container.md-input-invalid .md-input.materialCmb{
    border-color: rgb(221,44,0);
}


md-checkbox.md-checked .md-icon, md-checkbox.md-checked .md-ink-ripple{
    background-color:#339385;
    color:#339385;
    border-radius: 4px;
}
md-checkbox.md-checked .md-icon, md-checkbox .md-icon{
    border-radius: 4px;
}
md-checkbox .md-label{
    font-weight: 400;
}

md-input-container:not(.md-input-has-value) md-select.ng-required .md-select-value span:first-child:after, md-input-container:not(.md-input-has-value) md-select[required] .md-select-value span:first-child:after, md-select.ng-required.ng-invalid .md-select-value span:first-child:after, md-select[required].ng-invalid .md-select-value span:first-child:after, md-input-container label:not(.md-container-ignore).md-required:after{
    content:'';
}
.md-select-menu-container.md-active md-select-menu{
    border-radius: 4px;
}
md-option{
    height: 42px;
}




/* manage account */

.glyphicon-chevron-right:before{
    color:#919191;
}

md-list-item._md-button-wrap>div.md-button:first-child{
    padding:0;
}

.maHeader{
    height:48px;
    padding-top:13px;
    font-weight: bold;
}

.btnSave, .btnCancel{
    width:20%;
    min-width: 70px;
    margin-right:10px;
}

@keyframes myChange {
    from {
        height: 100%;
    } to {
        height: 0;
    }
}

#frmDetails{
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    overflow:hidden;
}

#frmDetails.ng-show{
height:100px;
}

#frmDetails.ng-hide{
height:0px;
}

.list-group-item, .list-group-item:focus{
    border-width: 0px;
    outline:none;
}

.glyphicon-chevron-right{
    top:3px;
}

.listDivider{
    margin:0 auto;
    width:99%;
    color:#dcdcdc;
}

/* :) */

.savedAnimation{
    position: relative;
    transition:all linear 0.5s
}

.savedAnimation.ng-hide{
    opacity:0;
}

.savedAnimation:before{
    position:absolute;
    width:18px;
    height:18px;
    border-top: 2px solid #f01e14;
    border-bottom: 2px solid #f01e14;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-radius:20px;
    content:'';
    top:50%;
    left:50%;
    animation: loading_animation 1s infinite linear;
    z-index:1100;
}

.savedAnimation:after{
    content:" ";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:1050;
}

@keyframes loading_animation{
    0% {transform: rotate(0deg); opacity:0.5;}
    50% {transform: rotate(180deg); opacity:1; }
    100% {transform: rotate(360deg); opacity:0.5; }
}
