<div class="container theme-showcase" role="main" ng-controller="maController">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="greybg"></div>
  <div class="container-fluid" >
    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" style="color:black"> </div>

      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 contentbox">

        <div class="loadingAnimation"></div>
        <div class="content">
            <h2 class="title text-center redtext">Manage account</h2>
          
            <!--<button class="btn btn-success btnCancel" type="button" ng-click="transition()">do stuff</button>-->
            <div class="list-group">
                <hr class="listDivider">
              <button type="button" id="toggleDetails" slide-toggle="#frmDetails" ng-model="toggle.name" expanded ng-click="toggle.name = !toggle.name;toggled('Details')" class="list-group-item">
                <div class="col-xs-3 titleDetails">Name</div>
                <div class="col-xs-8" ng-show="!toggle.name">
                  <div class="col-xs-6 padding-0">Mr. W Heisenberg</div>
                  
                  <div class="col-xs-6 savedAnimation" ng-show='request.saving'></div>
                  <div class="col-xs-6 padding-0 savedsuccess" ng-show='request.savedsuccess'>... saved successfully!</div>
                </div>
                <div class="col-xs-1 text-right" ng-show="!toggle.name">Edit</div>
              </button>
                <form name="ssoForm.Details">
                  <div class="form-group slideable" expanded="false" id="frmDetails">

                    <p id="subtitle">This information will be used to address you in any future communications.</p>
                    
                    <div class="row">
                      <div class="col-xs-12 col-sm-6">

                        <md-input-container class="mdInputCmb">
                          <label class="materialCmbLbl">Title</label>
                          <md-select class="materialCmb" id="cmbTitle" ng-model="title" ng-change="onChange('Title')" ng-blur="checkTitleSelected()" name="type" required hideRequiredMarker>
                            <md-option value="mr">Mr</md-option>
                            <md-option value="mrs">Mrs</md-option>
                            <md-option value="miss">Miss</md-option>
                            <md-option value="ms">Ms</md-option>
                            <md-option value="dr">Dr</md-option>
                            <md-option value="prof">Prof</md-option>
                          </md-select>
                        </md-input-container>

                        <md-input-container class="mdInput">
                          <label class="materialLbl">First name</label>
                          <input class="materialTxt" id="txtFirstname" required name="firstName" ng-model="firstname" ng-change="onChange('Firstname')" ng-keypress="validateInput()" minlength="2" maxlength="50" md-no-asterisk>
                          <div ng-messages="ssoForm.firstName.$error" ng-show="ssoForm.firstName.$dirty">
                            <div ng-message-exp="['required', 'minlength']"><!--This is required.--></div>
                          </div>
                        </md-input-container>

                        <md-input-container class="mdInput">
                          <label class="materialLbl">Last name</label>
                          <input class="materialTxt" id="txtLastname" required name="lastName" ng-model="lastname" ng-change="onChange('Lastname')" ng-keypress="validateInput()" minlength="2" maxlength="50"  md-no-asterisk>
                          <div ng-messages="ssoForm.lastName.$error" ng-show="ssoForm.lastName.$dirty">
                            <div ng-message-exp="['required', 'minlength']"><!--This is required.--></div>
                          </div>
                        </md-input-container>

                      </div>
                      <div class="col-xs-1">
                          <span class="glyphicon glyphicon-ok incomplete" id="tickTitle"></span>
                          <span class="glyphicon glyphicon-ok incomplete" id="tickFirstname"></span>
                          <span class="glyphicon glyphicon-ok incomplete" id="tickLastname"></span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <button class="btn btn-success btnCancel" type="button" slide-toggle="#frmDetails" ng-click="toggle.name = !toggle.name;toggled('Details')">Cancel</button>
                        <button class="btn btn-success btnSave" type="submit" ng-click="toggle.name = !toggle.name;toggled('Details');saveDetails()">Save</button>
                      </div>
                    </div>
                  </div>
                </form> 
              <hr class="listDivider">
              <button type="button" id="toggleEmail" slide-toggle="#frmEmail" ng-click="toggle.email = !toggle.email;toggled('Email')" class="list-group-item">
                <div class="col-xs-3 titleEmail">Email</div>
                <div class="col-xs-8" ng-show="!toggle.email">itwasntme@gmail.com</div>
                <div class="col-xs-1 text-right glyphicon glyphicon-chevron-right" ng-show="!toggle.email"></div>
              </button>
                <form name="ssoForm.Email">
                  <div class="form-group slideable" expanded="false" id="frmEmail">
                    
                    <p id="subtitle">Enter your email address below. This will become your new username.</p>

                    <div class="row">
                      <div class="col-xs-12 col-sm-6">

                          <md-input-container class="md-block mdInput">
                            <label class="materialLbl lblCurrentPassword">Current password</label>
                            <input class="materialTxt" required type="password" name="currentPass" ng-model="currentpass" ng-change="onChange();ngChange();" ng-blur="checkPasswordPolicy(pwForm);" 
                            id="txtCurrentPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>

                            <div ng-messages="pwForm.currentPass.$error" ng-show="pwForm.currentPass.$touched" role="alert">
                              <div ng-message-exp="['maxlength', 'passwordpolicy']">
                                Invalid characters entered.
                              </div>
                              <div ng-message="required"></div>
                            </div>
                          </md-input-container>

                          <md-input-container class="md-block mdInput">
                            <label class="materialLbl lblNewEmail">New email</label>
                            <input class="materialTxt" ng-required="!emailDisabled" type="email" name="newEmail" ng-model="newemail" ng-change="onChange('NewEmail')" ng-blur="validOnBlur('NewEmail')" ng-focus="hideOnFocus('NewEmail')" 
                            id="txtNewEmail" oncopy="return false" onpaste="return false" maxlength="100" emailregex ng-pattern="/^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@([a-zA-Z0-9])[a-zA-Z0-9-_']{1,}((\.)([a-zA-Z0-9])([a-zA-Z0-9-_']{1,}))+/" md-no-asterisk/>

                            <div ng-messages="ssoForm.newEmail.$error" ng-show="ssoForm.newEmail.$dirty" role="alert">
                              <div ng-message-exp="['maxlength', 'pattern']">
                                Invalid email address.
                              </div>
                              <div ng-message="required">
                                <!--This is required.-->
                              </div>
                            </div>
                          </md-input-container>

                            <md-input-container class="md-block mdInput">
                            <label class="materialLbl lblConfirmEmail">Confirm email</label>
                            <input class="materialTxt" ng-required="!emailDisabled" type="email" name="confirmEmail" ng-model="confirmemail" ng-change="onChange('ConfirmEmail')" ng-blur="validOnBlur('ConfirmEmail')" ng-focus="hideOnFocus('ConfirmEmail')" 
                            id="txtConfirmEmail" oncopy="return false" onpaste="return false" maxlength="100" md-no-asterisk emailmatch />

                            <div ng-messages="ssoForm.confirmEmail.$error" ng-show="ssoForm.confirmEmail.$dirty" role="alert">
                              <div ng-message-exp="['maxlength', 'emailmatch']">
                                Email addresses do not match.
                              </div>
                              <div ng-message="required">
                                <!--This is required.-->
                              </div>
                            </div>
                          </md-input-container>

                      </div>
                      <div class="col-xs-1">
                          <span class="glyphicon glyphicon-ok incomplete" id="tickNewEmail"></span>
                          <span class="glyphicon glyphicon-ok incomplete" id="tickConfirmEmail"></span>
                      </div>
                    </div>
                    <p id="errorEmail">This email address cannot be used, please enter a new email address.</p>
                    <div class="row">
                        <div class="col-xs-12">
                          <button class="btn btn-success btnCancel" type="button" slide-toggle="#frmEmail" ng-click="toggle.email = !toggle.email">Cancel</button>
                          <button class="btn btn-success btnSave">Save</button>
                        </div>
                      </div>
                  </div>
                </form>
              <hr class="listDivider">
              <button type="button" id="togglePassword" slide-toggle="#frmPassword" ng-click="toggle.password = !toggle.password;toggled('Password')" class="list-group-item">
                <div class="col-xs-3 titlePassword">Password</div>
                <div class="col-xs-8" ng-show="!toggle.password">********</div>
                <div class="col-xs-1 text-right glyphicon glyphicon-chevron-right" ng-show="!toggle.password"></div>
              </button>
                <form name="ssoForm.Password">
                  <div class="form-group slideable" expanded="false" id="frmPassword">
                    
                    <p id="subtitle">Choose a new password below. Please ensure your password is unique to this website.</p>
                    <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <md-input-container class="md-block mdInput">
                        <label class="materialLbl lblCurrentPassword">Current password</label>
                        <input class="materialTxt" required type="password" name="currentPass" ng-model="currentpass" ng-change="onChange();ngChange();" ng-blur="checkPasswordPolicy(pwForm);" 
                        id="txtCurrentPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>

                        <div ng-messages="pwForm.currentPass.$error" ng-show="pwForm.currentPass.$touched" role="alert">
                          <div ng-message-exp="['maxlength', 'passwordpolicy']">
                            Invalid characters entered.
                          </div>
                          <div ng-message="required"></div>
                        </div>
                      </md-input-container>
                    </div>
                    </div>

                    <reset-password password-title="'Create new password'"
                                password-subtitle="'For security reasons, you must set a new password to use when logging in.'"
                                ng-model="pass" ng-change="onChange('Password')">
                    </reset-password>
                    <p id="errorPassword">New password must not match current password.</p>
                    <div class="row">
                        <div class="col-xs-12">
                          <button class="btn btn-success btnCancel" type="button" slide-toggle="#frmPassword" ng-click="toggle.password = !toggle.password">Cancel</button>
                          <button class="btn btn-success btnSave">Save</button>
                        </div>
                      </div>
                  </div>
                </form>
            </div>

        </div>

      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
  </div>

    <session-idle></session-idle>
<br/><br/><br/>

</div> <!--main container-->

