<div>
  <!--<h2 class="title text-center redtext">{{passwordTitle}}</h2>-->
  <!--<hr>-->
  <!--<p id="subtitle">{{passwordSubtitle}}</p>-->
  <div class="row vertical-align">
    <div class="pwInput col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form name="pwForm">
        <div class="form-group pwFormGrp">
          <div>
            <!--<input type="password" class="form-control" id="txtNewPassword" ng-model="newpass" ng-change="onKeyUp();ngChange();" ng-blur="checkPasswordPolicy();" maxlength="50" placeholder="New password">
            <p id="invalidCharacters">Invalid characters entered.</p>
            <input type="password" class="form-control" id="txtConfirmPassword" ng-model="confirmpass" ng-change="onKeyUp();ngChange();" ng-blur="checkMatching()" maxlength="50" placeholder="Confirm password">
            <p id="pwNotMatch">Passwords do not match.</p>-->

            <md-input-container class="md-block mdInput">
              <label class="materialLbl lblNewPassword">New password</label>
              <input class="materialTxt form-control" required type="password" name="newPass" ng-model="newpass" ng-change="onChange();ngChange();" ng-blur="checkPasswordPolicy(pwForm);" 
              id="txtNewPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordpolicy/>
                <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickNewPassword"></i>
              <div class="ngmsgbox" ng-messages="pwForm.newPass.$error" ng-show="pwForm.newPass.$touched" role="alert">
                <div class="ngmsgtext" ng-message-exp="['maxlength', 'passwordpolicy']">
                  Invalid characters entered.
                </div>
                <!-- <div ng-message="required"></div> -->
              </div>
            </md-input-container>
            <div class="texterrorspacing"></div>
            <md-input-container class="md-block mdInput">
              <label class="materialLbl lblConfirmPassword">Confirm password</label>
              <input class="materialTxt form-control" required type="password" name="confirmPass" ng-model="confirmpass" ng-change="onChange();ngChange();" ng-blur="checkMatching(pwForm)"
              id="txtConfirmPassword" oncopy="return false" onpaste="return false" maxlength="50" md-no-asterisk passwordmatch/>
                <i class="glyphicon glyphicon-ok incomplete form-control-feedback" id="tickConfirmPassword"></i>
              <div class="ngmsgbox" ng-messages="pwForm.confirmPass.$error" ng-show="pwForm.confirmPass.$touched && pwForm.confirmPass.$dirty" role="alert">
                <div class="ngmsgtext" ng-message="passwordmatch">
                  Passwords do not match.
                </div>
              </div>
            </md-input-container>
            <div class="texterrorspacing"></div>

              <!--<p id="pwNotMatch">Passwords do not match.</p>-->

          </div>
        </div>
      </form>
    </div>

  </div>

</div>