
#toast {
    visibility: hidden;
    max-width: 300px;
    margin-left: -125px;
    background-color: #FFEFF1;
    color: #393939;
    border:1px solid #f5201f;
    text-align: center;
    border-radius: 2px;
    padding: 20px 30px;
    position: fixed;
    z-index: 1;
    left: 48%;
    top: 80px;
    font-size: 13px;
}

#toast #toastmessage{
    font-size: 13px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#toast a{
    color:red;
}

#toast.success{
    background-color: #E5F1F0;
    border: 1px solid #339385;
}

#toast.danger{
    background-color: #FFEFF1;
    border: 1px solid #f5201f;
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 80px; opacity: 1;}
}
@keyframes fadeout {
    from {top: 80px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
