<div class="container theme-showcase" role="main" ng-controller="cnpwController">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="greybg">

  </div>

  <div class="container-fluid" >

    <div class="row">
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2" style="color:black"></div>
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 contentbox">
          <div class="loadingAnimation"></div>
          <div class="content">
              <h2 class="title text-center redtext">Choose new password</h2>
              <hr>
              <p id="subtitle">Choose a new password below, please ensure it is unique to this website.</p>

              <reset-password ng-model="pass"> </reset-password>
              <p id="errorPassword">New password must not match current password.</p>

              <div class = "row">
                <div>
                  <button type="submit" id="btnContinue" ng-click="validatePassword()" class="btn btn-success" disabled>Continue</button>
                </div>
              </div>
          </div>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>
    </div> <!-- END ROW -->

      <session-idle></session-idle>
<br/><br/><br/>


</div> <!--main container-->


